body {
    font-family: 'Kalnia', sans-serif;
    margin: 0;
    padding: 0;
}

.inbox-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.inbox-header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dba900;
}

.inbox-messages {
    background-color: #000000;
    padding: 10px;
}

.message-preview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dba900;
    padding: 10px 0;
}

.user-image img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.message-info {
    flex-grow: 1;
}

.user-name-location {
    font-weight: bold;
    color: #dba900;
}

.user-location {
    color: #dba900;
    margin-left: 5px;
}

.last-message {
    color: #dba900;
}

.message-actions button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-message {
    background-color: #000000;
    color: #dba900;
    border: 2px solid #dba900;
}

.btn-delete {
    background-color: #000000;
    color: #dba900;
    border: 2px solid #dba900;
}